body {

  margin: auto;
  padding: auto;
  text-align: center;
  background-image: url("123.png");

 
background-size: auto;
background-repeat: no-repeat;


}
p
 {

  color: #000000 ;
  font-family: all;
  font-size:30px;
  text-align: center;

}

section {
  box-sizing: border-box;
 color: black;
background-color: white;
 background-size: 500px 50px;
 border-style:solid;
 border-color: darkgreen;

  
  top: 0;
  width: 100%;
font-size: 40px}

}
footer {
 text-align: bottom;

}
.rotateimg180 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}



li {
  text-align: right;
 list-style-type: none;
  font-weight: 1000;
  font-size: 35px;

}


li a.active{
  background-color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


footer{
  
  color:white;
  background-color:black;
  text-align: center;
  text-align: bottom;

}
h1 {
float: left; 
outline-style: solid;
background-color: white;
padding-bottom: 10px;
padding-top: 10px;

}
div {
outline-style: solid;
background-color: white;
}